html {
  font-family: sans-serif;
}
html h1 {
  text-align: center;
}
html h2 {
  text-align: center;
  color: grey;
}
#exampleSlider {
  /*width: 45%;*/
  position: relative;
  background: url(../svg/home/RECT.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}
#exampleSlider .MS-content {
  margin: -3vh 15%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;
  height: 50%;
  overflow: hidden;
  position: relative;
  vertical-align: -webkit-baseline-middle;
  border-right: none;
  width: 50%;
}
@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
  #videos.col-md-5 {
    max-width: 83%;
  }
}
@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 15vh;
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
  left: 10vh;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  right: 10vh;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}
/*********Responsive Portatil***********/
@media (min-width: 1080px) and (max-width: 2900px) {

#logo_home{
    margin-top: -20.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 85%;
 }
}
@media (min-width: 1561px) {

     #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0; z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0; z-index: -1;
    width: 55%;
  }

  #exampleSlider{
    width: 90%;
    left: 18vh;
    top: -12vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

  #boton_servicio{
    margin-top: -10%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -5%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -5%;
  }

#logo_home{
    margin-top: -30%; width: 42%  }

 #logo_lusuau{
  width: 85%;
 }

}
/*******Mac 4k **************/
@media (min-width: 1366px) {

  #prime_circulo{
      position: fixed;
      margin: 5% auto 0%;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      width: 100%
    }

    #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 55%
    }

    #exampleSlider{
      width: 90%;
      left: 18vh;
      top: -12vh;
    }

    #exampleSlider .MS-controls .MS-left {
      left: 14vh;
    }
     #boton_servicio{
      margin-top: -3.5%;
    }

    #boton_quienes{
      margin-left: 1%;
      margin-top: -3.5%
    }

    #boton_contacto{
      margin-left:-1.5%;
      margin-top: -2.5%;
      z-index: 10;
    }

  #logo_home{
      margin-top: -28%;
      margin-left: 26%;
    }

   #logo_lusuau{
    width: 85%;
   }

   #redes_home{
    text-align: -webkit-right;
    margin-left: 68%;
    margin-top: -36%;
   }


   #exampleSlider{
      width: 100%;
      left: 10vh;
      top: -4vh;
    }

    #exampleSlider .MS-controls .MS-left {
      left: 14vh;
    }

    #exampleSlider .MS-content .item{
      left: 5vh;
      width: 50%;
    }

  /*******INICIO DE NOSOTROS*********/

  #logo_nosotros{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    width: 22%;
    right: 0;
    top: -8%;
    z-index: -1;
   }

   #linea_nosotros{
    position: fixed;
    margin: 20% auto 0%;
    left: 0;
    width: 100%;
    right: 0;
    top: -19%;
    bottom: 0;
    z-index: -2;
   }

   #mision_nosotros{
    margin-top: -2%;
   }

   #quienes_nosotros{
    margin-top: -2%;
   }

   #vision_nosotros{
    margin-top: -2%;
   }

   #redes_nosotros{
    text-align: -webkit-right;
    margin-top: -2%;
     margin-inline-start:auto
   }

  /**********INICIO MENU CIRCULAR***********/
   #menu_circular{
    transform: rotate(90deg);
    margin-top: -42%;
    margin-left: 230%;
   }

   #liQuienes{
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 66px;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 1px 1px 1px 2px #888888;
   }

   #liQuienes.dot-nav--item:before,
   #liQuienes.dot-nav--item:after { content: ""; }

   #liQuienes.dot-nav--item:last-child:after { display:none; }

   #liQuienes.dot-nav--item:before {
    position: absolute;
    top: -1px; bottom: -1px; left: -1px; right: -1px;
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
    background-color: #cfd0d6;
    transition: all .3s;
  }

   #liQuienes.dot-nav--item:after {
    /*display: block;
    width: 3px; height: 30px;
    margin: 13px auto 0;
    background-color: #fff;*/

      display: block;
      width: 4px;
      height: 73px;
      margin: 13px auto 0;
      background-color: #cbccd1;

  }

   #liQuienes.dot-nav--item:hover,
   #liQuienes.dot-nav--item:active {
   cursor: pointer;
   /*border: 2px solid #fe9e5a;*/
   border: 2px solid #fe9e5a;
   background-color: #fff;
  }


   #liQuienes.is-active {
      opacity: 1;
      transform: scale(1);
    }
  /**********FIN MENU CIRCULAR***********/

  /**********INICIO DE NUESTRA HISTORIA******/

    #nuestra_historia{
      font-size: 4.5vh;
      padding: 0% !important;
      margin-top: -50%;
    }

    #linea_historia{
      position: fixed;
      margin: 5% auto 0%;
      left: 0;
      right: 0;
      bottom: 0; z-index: -1;
    }

    #luna{
      width: 75%;
      margin-left: -10%;
    }

    #menu_circular1{
    transform: rotate(90deg);
    margin-top: 45%;
    margin-left:200%;
    }

    #redes_nuestra{
    text-align: -webkit-right;
    margin-top: -2%
    }

    #rombo_mitad{
    margin-left: 49%;
    margin-top: -16%;
    position: fixed;
    }

    #titulo_nuestra{
      font-size: 4.5vh;
      padding: 0% !important;
      margin-top: -25%;
    }

    /********FIN DE NUESTRA HISTORIA**********/

    /*********INICIO DE EQUIPO**************/

    #linea_equipo{
      width: 20%;
      position: fixed;
      top: 0;
      left: 10%;
      z-index: -1;
    }

    #titulo_equipo{
      font-size: 4.5vh;
      padding: 0% !important;
      margin-top: 50%;
      margin-left:22%
    }

    #etiqueta_menu{
      color: #bebebe;
      font-size: 3vh;
      border-color: transparent;
    }
    #clothing-nav{
      border-bottom: 1px solid #343434;
    }

  #primer_nombre{
      color: #101010;
      margin-top: -9%;
    }

  #segundo_nombre{
    color: #101010;
    margin-top: -1%;
    font-size: 1.5rem;
  }
    .div-imgg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 10;
    margin-top: 50%;
  }
  .div-imgg .imgg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 10;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    transform: translate(0px);
    -ms-transform: translate(0px);
    -moz-transform: translate(0px);
    -webkit-transform: translate(0px);
    -o-transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;1
    -o-transition: all 500ms ease-in-out;
  }
  .div-imgg .text {
    font-family: 'Roboto';
      z-index: -1;
      position: absolute;
      size: 50px;
      color: #101010;
      display: block;
      height: 50%;
      top: 50%;
      right: 0;
      padding-right: 32%;
  }
  .div-imgg:hover .imgg {
    transform: translateY(-19vh);
    -ms-transform: translateY(-19vh);
    -moz-transform: translateY(-19vh);
    -webkit-transform: translateY(-19vh);
    -o-transform: translateY(-19vh);
  }

  #menu_circular2{
  transform:rotate(90deg);
  margin-top: -40vh;
  margin-left:200%

  }

  #redes_equipo{
  text-align: -webkit-right;
  margin-top: -42vh;
  margin-inline-start:auto
  }

    /*********FIN DE EQUIPO**************/
    /***********SERVICIOS EN INDEX**********/

  #img_servicios{
    width: 80%;
    margin-top:0vh;
  }

  #imagen_rombo{
    width: 4%;
    bottom: -7%;
    position: fixed;
    left: 0;
  }

  #image_line{
    float: right;
    width: 40%
  }

  #titulo_servicios{
    color: white;
    margin-left: 160vh;
    font-size: 3.2vh;
    margin-top: 66%
  }

  #btn_servicio{
    margin-left: 80%;
    margin-top: -33%
  }

  #redes_service{
    text-align: -webkit-right;
    margin-left: 91%;
    margin-top: 8%
  }

  /************FIN INDEX SERVICIO*********/

  /***********INICIO CONTACTO*********/

  #contacto_line{
    position: fixed;
    bottom: -1%;
    width: 100%;
    left: 0;
    z-index: -3;
  }

  #titulo_contacto{
    margin-top: 8%;
  }

  #redes_contacto{
    text-align: center;
    margin-top: 12%;
  }

  #btn_contacto{
    margin-top: 8%;
  }

  /***********FIN CONTACTO*********/


    /**********INICIO SERVICIOS**********/

   /**********INICIO CASA PUBLICITARIA**********/
    #line_servicio{
      float: left;
      width: 16.5%;
      margin-right: 7%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1
    }

    #imagen_rombo1{
      float: left;
      width: 20%;
      margin-top: 42%;
      margin-left: -22%
    }

    #videos{
      background: #1E1F25;
      margin-top: 1%;
      width: 200%;
    }
    #img_video{
      width: 100%;
    }

    #redes_casa{
      text-align: -webkit-right;
      margin-top: 4%;
    }
   /**********FIN CASA PUBLICITARIA**********/

   /**********INICIO DESARROLLO A LA MEDIDA**********/
    #logo_desa{
      float: right;
      width: 74%;
      margin-top: -37%;
      height: 157%
    }

    #line_desa{
      float: left;
      margin-right: 7%;
      width: 16.4%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: -1;
    }

    #rombo_desa{
      float: left;
      width: 14%;
      margin-top: 30%;
      margin-left: -15%
    }

    #redes_desa{
      text-align: -webkit-right;
      margin-left: 12%;
      margin-top: 8%
    }
    /**********FIN DESARROLLO A LA MEDIDA**********/

    /**********INICIO AUDIOVISUAL**********/


    #rombo_visual{
      float: left;
      width: 16%;
      margin-top: 62%;
      margin-left: -23%
    }

    #line_visual{
      float: left;
      width: 16.5%;
      margin-right: 7%;
      position: fixed;
      top: 0;
      right: 0;
      z-index:1
    }

    #redes_visual{
      text-align: -webkit-right;
      margin-top: 6%
    }

    #video_visual{
      background: #1E1F25;
      margin-top: 2%
    }

    #imagen_video{
      width: 50%;
    }
    /**********FIN AUDIOVISUAL**********/

    /**********INICIO SOLUCIONES TECNOLOGICAS**********/
    #line_soluciones{
      float: left;
      width: 18%;
      margin-right: 7%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
    }
    #rombo_soluc{
      float: left; width: 4%;
      margin-top: 18%;
      margin-left: -12%;
      position: fixed;
    }

    #img_soluc{
      float: left;
      width: 100%;
      margin-top: -11%;
      margin-left: 32%;
    }

    #redes_soluc{
      text-align: -webkit-right;
      margin-top: 17%
    }
    /**********FIN SOLUCIONES TECNOLOGICAS**********/

     /**********FIN SERVICIOS**********/

}
/*********Portatil**************/
@media (min-width: 1080px) and (max-width: 1920px) {

  #prime_circulo{

    position: fixed;

    margin: 5% auto 0%;

    left: 0;

    right: 0;

    top: 0; z-index: -1;

    width: 100%;

  }



  #segundo_circulo{

    position: fixed;

    margin: 5% auto 0%;

    left: 0;

    right: 0;

    bottom: 0; z-index: -1;

    width: 55%;

  }



  #exampleSlider{

    width: 90%;

    left: 18vh;

    top: -8vh;

  }



  #exampleSlider .MS-controls .MS-left {

    left: 14vh;

  }



   #boton_servicio{

    margin-top: -10%;

  }



  #boton_quienes{

    margin-left: 1%;

    margin-top: -7%;

  }



  #boton_contacto{

    margin-left: -1%;

    margin-top: -7%;

  }



  #logo_home{

    margin-top: -32%;

    margin-left: 26%;
    z-index: -10;

  }



  #logo_lusuau{

  width: 85%;

  }



  #redes_home{

  text-align: -webkit-right;

  margin-top: -40%;

  margin-left: 70%;


  }



  #logo_nosotros{

  width: 16%;

  margin-top: 5%!important;

  }



  #linea_nosotros{

  width: 100%;

  margin-top:17%;

  }



  #mision_nosotros{

  margin-top: -4%;

  }



  #quienes_nosotros{

  margin-top: -12%;

  }



  #vision_nosotros{

  margin-top: -4%;

  }



  #redes_nosotros{

  text-align: -webkit-right;

  margin-top: -4%;

  margin-left: 62%;

  }



  /**********INICIO MENU CIRCULAR***********/

  #menu_circular{

  transform: rotate(90deg);

  margin-top: -42%;

  margin-left: 230%;

  }



  #liQuienes{

  display: block;

  width: 25px;

  height: 25px;

  margin-bottom: 66px;

  border-radius: 50%;

  border: 1px solid;

  box-shadow: 1px 1px 1px 2px #888888;

  }



  #liQuienes.dot-nav--item:before,

  #liQuienes.dot-nav--item:after { content: ""; }



  #liQuienes.dot-nav--item:last-child:after { display:none; }



  #liQuienes.dot-nav--item:before {

  position: absolute;

  top: -1px; bottom: -1px; left: -1px; right: -1px;

  transform: scale(0);

  opacity: 0;

  border-radius: 50%;

  background-color: #cfd0d6;

  transition: all .3s;

  }



  #liQuienes.dot-nav--item:after {

  /*display: block;

  width: 3px; height: 30px;

  margin: 13px auto 0;

  background-color: #fff;*/



    display: block;

    width: 4px;

    height: 73px;

    margin: 13px auto 0;

    background-color: #cbccd1;



  }



  #liQuienes.dot-nav--item:hover,

  #liQuienes.dot-nav--item:active {

  cursor: pointer;

  /*border: 2px solid #fe9e5a;*/

  border: 2px solid #fe9e5a;

  background-color: #fff;

  }





  #liQuienes.is-active {

    opacity: 1;

    transform: scale(1);

  }

  /**********FIN MENU CIRCULAR***********/



  /**********INICIO DE NUESTRA HISTORIA******/



  #nuestra_historia{

    font-size: 4.5vh;

    padding: 0% !important;

    margin-top: -50%;

  }



  #linea_historia{

    position: fixed;

    margin: 5% auto 0%;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 70%;

  }



  #luna{

    width: 55%;

    margin-left: -10%;

  }



  #menu_circular1{

  transform: rotate(90deg);

  margin-top: 20%;

  margin-left:200%;

  }



  #redes_nuestra{

  text-align: -webkit-right;
  margin-top: -1%;

  }



  #rombo_mitad{

  margin-left: 49%;

  margin-top: -16%;

  position: fixed;

  }



  #titulo_nuestra{

    font-size: 4.5vh;

    padding: 0% !important;

    margin-top: -23%;

  }



  /********FIN DE NUESTRA HISTORIA**********/



  /*********INICIO DE EQUIPO**************/



  #linea_equipo{

    width: 18%;

    position: fixed;

    top: 0;

    left: 10%;

    z-index: -1;

  }



  #titulo_equipo{

    font-size: 4.5vh;

    padding: 0% !important;

    margin-top: 47%;

    margin-left:10%

  }



  #etiqueta_menu{

    color: #bebebe;

    font-size: 3vh;

    border-color: transparent;

  }

  #clothing-nav{

    border-bottom: 1px solid #343434;

    margin-top: -8%;

  }



  #primer_nombre{

    color: #101010;

    margin-top: -9%;

  }



  #segundo_nombre{

  color: #101010;

  margin-top: -4%;

  font-size: 1.5rem;

  }



  #imagen_equipo{

  width: 85%;

  }



  #textos_equipo{

  left: 13vh;

  text-overflow: ellipsis;

  white-space: nowrap;

  }



  .div-imgg {

  display: block;

  margin-left: auto;

  margin-right: auto;

  position: absolute;

  z-index: 10;

  margin-top: 40%;

  }

  .div-imgg .imgg {

  display: block;

  margin-left: auto;

  margin-right: auto;

  width: 100%;

  z-index: 10;

  border-radius: 150px;

  -webkit-border-radius: 150px;

  -moz-border-radius: 150px;

  transform: translate(0px);

  -ms-transform: translate(0px);

  -moz-transform: translate(0px);

  -webkit-transform: translate(0px);

  -o-transform: translate(0px);

  -webkit-transition: all 500ms ease-in-out;

  -moz-transition: all 500ms ease-in-out;

  -ms-transition: all 500ms ease-in-out;1

  -o-transition: all 500ms ease-in-out;

  }

  .div-imgg .text {

  font-family: 'Roboto';

    z-index: -1;

    position: absolute;

    size: 30px;

    color: #101010;

    display: block;

    height: 50%;

    top: 50%;



  }

  .div-imgg:hover .imgg {

  transform: translateY(-19vh);

  -ms-transform: translateY(-19vh);

  -moz-transform: translateY(-19vh);

  -webkit-transform: translateY(-19vh);

  -o-transform: translateY(-19vh);

  }



  #menu_circular2{

  transform:rotate(90deg);

  margin-top: -60vh;

  margin-left:200%



  }



  #redes_equipo{

  text-align: -webkit-right;

  margin-top: -60vh;

  margin-inline-start:auto

  }



  /*********FIN DE EQUIPO**************/



  /***********INICIO CONTACTO*********/



  #contacto_line{

  position: fixed;

  width: 100%;

  left: 0;

  z-index: -3;

  margin-top: 6%;
  }

  #btn_contacto{

  margin-top: -14%;

  }

  #nav{
    margin-top: -14%;
    z-index: 10;
  }



  /***********FIN CONTACTO*********/

  /***********SERVICIOS EN INDEX**********/



  #img_servicios{

  width: 80%;

  margin-top: -4vh;

  }



  #imagen_rombo{

  width: 4%;

  bottom: -7%;

  position: fixed;

  left: 0;

  }



  #image_line{

  float: right;

  width: 35%

  }



  #titulo_servicios{

  color: white;

  margin-left: 183vh;

  font-size: 3.2vh;

  margin-top: 56%

  }



  #btn_servicio{

  margin-left: 77%;

  margin-top: -28%

  }



  #redes_service{

  text-align: -webkit-right;

  margin-left: 91%;

  margin-top: 6%

  }



  /************FIN INDEX SERVICIO*********/



  /**********INICIO SERVICIOS**********/



  /**********INICIO CASA PUBLICITARIA**********/

  #line_servicio{

    float: left;

    width: 15%;

    margin-right: 7%;

    position: fixed;

    top: 0;

    right: 0;

    z-index: 1;

  }



  #imagen_rombo1{

    float: left;

    width: 20%;

    margin-top: 42%;

    margin-left: -22%

  }

  #videos{

    background: #1E1F25;

    margin-top: 1%;

    width: 10%;

  }

  #video_casa{
    width: 60%;
    height: 20%;
  }



  #redes_casa{
    text-align: -webkit-right;
    margin-top: -0.5%;
  }

  /**********FIN CASA PUBLICITARIA**********/



  /**********INICIO DESARROLLO A LA MEDIDA**********/

  #logo_desa{

    float: right;

    width: 74%;

    margin-top: -37%;

    height: 157%

  }



  #line_desa{

    float: left;

    margin-right: 7%;

    width: 16.4%;

    position: fixed;

    top: 0;

    right: 0;

    z-index: -1;

  }



  #rombo_desa{

    float: left;

    width: 14%;

    margin-top: 30%;

    margin-left: -15%

  }



  #redes_desa{

    text-align: -webkit-right;

    margin-left: 12%;

    margin-top: 2%

  }

  #menu_circular_desar{
    margin-top: 12%;
  }
  /**********FIN DESARROLLO A LA MEDIDA**********/



  /**********INICIO AUDIOVISUAL**********/





  #rombo_visual{

    float: left;

    width: 16%;

    margin-top: 62%;

    margin-left: -23%

  }



  #line_visual{

    float: left;

    width: 15%;

    margin-right: 7%;

    position: fixed;

    top: 0;

    right: 0;

    z-index:1

  }



  #redes_visual{

    text-align: -webkit-right;

    margin-top: 0%

  }



  #video_visual{

    background: #1E1F25;

    margin-top: 1%;

    width: 10%;

  }

  #videoss{

    width: 60%;
    height: 20%;

  }


  /**********FIN AUDIOVISUAL**********/



  /**********INICIO SOLUCIONES TECNOLOGICAS**********/

  #line_soluciones{

    float: left;

    width: 16.4%;

    margin-right: 7%;

    position: fixed;

    top: 0;

    right: 0;

    z-index: -1

  }

  #rombo_soluc{

    float: left; width: 4%;

    margin-top: 18%;

    margin-left: -12%;

    position: fixed;

  }



  #img_soluc{

    float: left;

    width: 100%;

    margin-top: -11%;

    margin-left: 32%;

  }



  #redes_soluc{

    text-align: -webkit-right;

    margin-top: 12%

  }

  #text_largo_solu{
    padding: 7% 8%;
    font-size: 1.7vh;
    text-align: left;
    margin-left: 22%;
    margin-top: -12%;
  }

  /**********FIN SOLUCIONES TECNOLOGICAS**********/



   /**********FIN SERVICIOS**********/

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

     #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0; z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0; z-index: -1;
    width: 50%;
  }

  #exampleSlider{
    width: 90%;
    left: 18vh;
    top: -12vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

   #boton_servicio{
    margin-top: -10%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -5%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -5%;
  }

#logo_home{
    margin-top: -40.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 85%;
 }
}

@media (min-width: 1025px) and (max-width: 1280px) {

  #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 50%;
  }

  #exampleSlider{
    width: 90%;
    left: 18vh;
    top: -12vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

   #boton_servicio{
    margin-top: -10%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -5%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -5%;
  }

#logo_home{
    margin-top: -40.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 85%;
 }
}

@media (max-width: 1024px) and (min-width: 768px) {

  #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0; z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0; z-index: -1;
    width: 70%;
  }
  #exampleSlider{
    width: 90%;
    left: 8vh;
    top: -12vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

   #boton_servicio{
    margin-top: -10%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -5%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -5%;
  }

#logo_home{
    margin-top: -40.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 85%;
 }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1280px) {

  #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0; z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0; z-index: -1;
    width: 80%;
  }
  #exampleSlider{
    width: 90%;
    left: 18vh;
    top: -12vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

   #boton_servicio{
    margin-top: -10%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -5%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -5%;
  }

#logo_home{
    margin-top: -40.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 85%;
 }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0; z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0; z-index: -1;
    width: 60%;
  }
  #exampleSlider{
    width: 125%;
    left: -10vh;
    top: 0vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

  #exampleSlider .MS-content .item{
    left: 5vh;
    width: 50%;
  }

   #boton_servicio{
    margin-top: -0%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -15%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -14%;
  }

#logo_home{
    margin-top: -40.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 100%;
  margin-top: 25%;
 }

 #redes_home{
  text-align: -webkit-right;
  margin-top: -50%;
  margin-left: 70%;
 }

 #logo_nosotros{
  width: 26%;
  margin-top: -14%!important;
 }

 #linea_nosotros{
  width: 100%;
  margin-top:-15%;
 }

 #mision_nosotros{
  margin-top: -40%;
 }

 #quienes_nosotros{
  margin-top: -40%;
 }

 #vision_nosotros{
  margin-top: -40%;
 }

 #redes_nosotros{
  text-align: -webkit-right;
  margin-top: -14%;
  margin-left: 70%;
  margin-inline-start:auto
 }

/**********INICIO MENU CIRCULAR***********/
 #menu_circular{
  transform: rotate(90deg);
  margin-top: -96%;
  margin-left: 225%;
 }

 #liQuienes{
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 66px;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 1px 1px 1px 2px #888888;
 }

 #liQuienes.dot-nav--item:before,
 #liQuienes.dot-nav--item:after { content: ""; }

 #liQuienes.dot-nav--item:last-child:after { display:none; }

 #liQuienes.dot-nav--item:before {
  position: absolute;
  top: -1px; bottom: -1px; left: -1px; right: -1px;
  transform: scale(0);
  opacity: 0;
  border-radius: 50%;
  background-color: #cfd0d6;
  transition: all .3s;
}

 #liQuienes.dot-nav--item:after {
  /*display: block;
  width: 3px; height: 30px;
  margin: 13px auto 0;
  background-color: #fff;*/

    display: block;
    width: 4px;
    height: 73px;
    margin: 13px auto 0;
    background-color: #cbccd1;

}

 #liQuienes.dot-nav--item:hover,
 #liQuienes.dot-nav--item:active {
 cursor: pointer;
 /*border: 2px solid #fe9e5a;*/
 border: 2px solid #fe9e5a;
 background-color: #fff;
}


 #liQuienes.is-active {
    opacity: 1;
    transform: scale(1);
  }
/**********FIN MENU CIRCULAR***********/

/**********INICIO DE NUESTRA HISTORIA******/

  #nuestra_historia{
    font-size: 4.5vh;
    padding: 0% !important;
    margin-top: -50%;
  }

  #linea_historia{
    position: fixed;
    margin-left: -38%;
    margin-top: -6%;
    width: 75%;
    z-index: -1;
  }

  #luna{
    width: 75%;
    margin-left: -10%;
  }

  #menu_circular1{
  transform: rotate(90deg);
  margin-top: -2vh;
  margin-left: 130%;
}

  #redes_nuestra{
  text-align: -webkit-right;
  margin-top: 8%;
  }

  #rombo_mitad{
  margin-left: 48%;
  margin-top: -16%;
  position: fixed;
  }

  #titulo_nuestra{
    font-size: 3.5vh;
    padding: 0% !important;
    margin-top:6%;
    margin-left: -5%;
  }

 /**********FIN DE NUESTRA HISTORIA**************/

 /*********INICIO DE EQUIPO**************/

  #linea_equipo{
    width: 25%;
    position: fixed;
    top: 0;
    left: 4%;
    z-index: -1;
  }

  #titulo_equipo{
    font-size: 4.5vh;
    padding: 0% !important;
    margin-top: 85%;
    margin-left:-12%
  }

  #etiqueta_menu{
    color: #bebebe;
    font-size: 3vh;
    border-color: transparent;
  }
  #clothing-nav{
    border-bottom: 1px solid #343434;
  }

  #imagen_equipo{
    width: 135%;
  }

  #primer_nombre{
    color: #101010;
    margin-top: -14%;

  }

#segundo_nombre{
  color: #101010;
  margin-top: -1%;
  font-size: 1.5rem;
}

#div_nombres{
  margin-left: 15%;
}

.div-imgg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 10;
  margin-top: 60%;
}
.div-imgg .imgg {
  display: block;
  margin-left: -30%;
  margin-right: auto;
  width: 100%;
  z-index: 10;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;1
  -o-transition: all 500ms ease-in-out;
}
.div-imgg .text {
  font-family: 'Roboto';
    z-index: -1;
    position: inherit;
    size: 30px;
    color: #101010;
    display: block;
    height: 50%;
    top: 50%;
    margin-left:38%;
}
.div-imgg:hover .imgg {
  transform: translateY(-19vh);
  -ms-transform: translateY(-19vh);
  -moz-transform: translateY(-19vh);
  -webkit-transform: translateY(-19vh);
  -o-transform: translateY(-19vh);
}


#menu_circular2{
transform:rotate(90deg);
margin-top: -35vh;
margin-left:200%

}

#redes_equipo{
text-align: -webkit-right;
margin-top: -34vh;
margin-left: 70%;
margin-inline-start:auto
}

  /*********FIN DE EQUIPO**************/



}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #prime_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    top: 0; z-index: -1;
    width: 100%;
  }

  #segundo_circulo{
    position: fixed;
    margin: 5% auto 0%;
    left: 0;
    right: 0;
    bottom: 0; z-index: -1;
    width: 50%;
  }
  #exampleSlider{
    width: 90%;
    left: 18vh;
    top: -12vh;
  }

  #exampleSlider .MS-controls .MS-left {
    left: 14vh;
  }

   #boton_servicio{
    margin-top: -10%;
  }

  #boton_quienes{
    margin-left: 1%;
    margin-top: -5%;
  }

  #boton_contacto{
    margin-left: -1%;
    margin-top: -5%;
  }

#logo_home{
    margin-top: -40.5%;
    margin-left: 26%;
  }

 #logo_lusuau{
  width: 85%;
 }
}
