@font-face {
  font-family: 'Roboto regular';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Fv-Almelo';
  src: url(../fonts/fv_almelo-webfont.ttf);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow:hidden;
}

body {
  align-items: center;
  background-image: linear-gradient(#313131, #1E1F25);
  display: flex;
  font-family: 'Roboto regular' !important;
  justify-content: center;
  overflow: hidden;
}

.main_title {
  font-family: 'Fv-Almelo' !important;
  color: #26272A;
  font-size: 2em;
}

.div-imgg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 10;
  margin-top: 50%;
}
.div-imgg .imgg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 10;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;1
  -o-transition: all 500ms ease-in-out;
}
.div-imgg .text {
  font-family: 'Roboto';
    z-index: -1;
    position: absolute;
    size: 50px;
    color: #101010;
    display: block;
    height: 50%;
    top: 50%;
    right: 0;
    padding-right: 32%;
}
.div-imgg:hover .imgg {
  transform: translateY(-19vh);
  -ms-transform: translateY(-19vh);
  -moz-transform: translateY(-19vh);
  -webkit-transform: translateY(-19vh);
  -o-transform: translateY(-19vh);
}

.services {
 background-image: linear-gradient(#ffffff, #ffffff) !important;
  /*background-image: url(../svg/servicios/line_background.svg);
    background-size: contain;
    background-position-x: 85%;
    background-repeat: no-repeat;*/
}

.disapper {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.screen {
  /*border-radius: 5vh;*/
  box-shadow: 0px 20px 25px 1px rgba(0, 0, 0, 0.25);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/*.screen::before {
  background: #fff;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  content: '';
  height: 3vh;
  left: -25%;
  margin-left: 50%;
  position: absolute;
  top: -1px;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
  width: 50%;
  z-index: 1;
}*/
.screen:hover + .hint {
  opacity: 0.4;
  transition: opacity 1200ms ease-out;
}

.background {
  /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
  transition: -webkit-filter 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: filter 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: filter 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-filter 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stage {
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  -webkit-transform-origin: 50% 150%;
          transform-origin: 50% 150%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
}

#myVideo {
  right: 0;
  width: 20%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.page_frame {
  display: none; 
  border: 0; 
  width: 100%; 
  height: 100%;
  opacity:1;
  transition : all 3s;
  -webkit-transition : all 3s;
  -moz-transition : all 3s;
}

.page {
  overflow: scroll !important;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 0 5vh;
  position: absolute;
  text-align: center;
  -webkit-transform-origin: 50% 150%;
          transform-origin: 50% 150%;
  width: 100%;
  /* debug */
  color: #fff;

  opacity:1;
  transition : all 1s;
  -webkit-transition : all 1s;
  -moz-transition : all 1s;


}
.page:nth-child(2) {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.page:nth-child(3) {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.page:nth-child(4) {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}



.stage_services {
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
}

.page_services {
  overflow-y: scroll !important;
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  text-align: center;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  width: 100%;
  /* debug */
  color: #fff;


  opacity:1;
  transition : all 1s;
  -webkit-transition : all 1s;
  -moz-transition : all 1s;
}
.page_services:nth-child(2) {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.page_services:nth-child(3) {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.page_services:nth-child(4) {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}




.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 9vh;
  margin-top: -4.5vh;
  padding: 0;
  top: 50%;
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  transition: opacity 200ms linear;
  width: 7vh;
}
.button:focus {
  outline: none;
}
.button:hover {
  opacity: 0.7;
}

.arrow {
  fill: #fff;
  height: 7vh;
  width: 7vh;
  margin-top: 11.5vh;
  margin-bottom: 11.5vh;
}

.button_next {
  right: 0;
}

h1 {
  font-size: 5vh;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 3vh;
  color: gray;
}

p {
  font-size: 3vh;
  line-height: 1.2;
  margin-bottom: 5vh;
  color: gray;
}

.button_fake {
  background-color: #ff655b;
  /*border-radius: 3vh;*/
  font-size: 2.7vh;
  margin: 0 auto;
  padding: 1.5vh;
  text-transform: uppercase;
  width: 25vh;
}

.slider_primera {
  /*height: 20vh;
  width: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;*/

    /*height: 16vh;
    width: 35vh;
    margin-top: 10vh;
    margin-bottom: 5vh;*/

    height: 13vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


.slider_segunda {
  /*height: 20vh;
  width: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;*/

    height: 16vh;
    width: 35vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.paralelogramo {
  float:left;
  /*background-image:url(../RectangleSlider.svg);*/     
  background-size: contain;
  background-repeat: no-repeat;
}/*
.paralelogramo:after,
.paralelogramo:before {
  content: '';
  width: 78px;
  height: 78px;
  position: absolute;
  background: inherit;
  top: -39px;
  left: 50%;
  margin-left: -39%;
  z-index: -1;
  border-radius: 13px 5px;
  transform: scaleY(.5) rotate(-45deg);
}
.paralelogramo:after {
  top: auto;
  bottom: -39px;
}*/


.option {
  z-index: 40;
  cursor: pointer !important;
  fill: white;
  fill-opacity: 1;
  stroke: #fe9e5a;
  stroke-width: 0.1px;
  transition: stroke-opacity 1s, stroke-width 1s, transform 1s;
  transform-origin: 50% 50%;
}

.option:hover {
  stroke-opacity: 1;
  stroke-width: 3px;
  transform: scale(2);
}


.nav-icon {
  width: 40px;
  float: right;
  cursor: pointer;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}


.nav-icon-services {
  width: 40px;
  float: right;
  cursor: pointer;
}

.nav-icon-services:after, 
.nav-icon-services:before, 
.nav-icon-services div {
  background-color: #101010;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.nav-icon-services:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon-services:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon-services:hover div {
  transform: scale(0);
}



/**********************    SERVICIOS   ****************************/
.dot-nav {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.dot-nav--item {
  /*position: relative;
  display: block;
  width: 16px; height: 16px;
  margin-bottom: 28px;
  border: 3px solid #fff;
  border-radius: 50%;*/

      position: relative;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 66px;
    /*border: 6px solid #fe9e5a;
    border: 10px solid #fff;*/
    border-radius: 50%;
    border: 1px solid;
    padding: 9px;
    box-shadow: 1px 4px #888888;

}

/* Fin Init */

/*.dot-nav--item {
  position: relative;
  display: block;
  width: 16px; height: 16px;
  margin-bottom: 28px;
  border: 3px solid #fff;
  border-radius: 50%;
  &:before, &:after { content: ""; }
  &:before {
    position: absolute;
    top: -1px; bottom: -1px; left: -1px; right: -1px;
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s;
  }
  &:after {
    display: block;
    width: 3px; height: 30px;
    margin: 13px auto 0;
    background-color: #fff;
  }
  &:last-child:after { display:none; }
  &:hover { cursor: pointer; }
  &.is-active:before {
    opacity: 1;
    transform: scale(1);
  }
}*/

.dot-nav--item:before, 
.dot-nav--item:after { content: ""; }

.dot-nav--item:last-child:after { display:none; }

.dot-nav--item:before {
  position: absolute;
  top: -1px; bottom: -1px; left: -1px; right: -1px;
  transform: scale(0);
  opacity: 0;
  border-radius: 50%;
  background-color: #cfd0d6;
  transition: all .3s;
}

.dot-nav--item:after {
  /*display: block;
  width: 3px; height: 30px;
  margin: 13px auto 0;
  background-color: #fff;*/

    display: block;
    width: 4px;
    height: 73px;
    margin: 13px auto 0;
    background-color: #cbccd1;

}



.dot-nav--item:hover,
.dot-nav--item:active {
 cursor: pointer;
 /*border: 2px solid #fe9e5a;*/
 border: 2px solid #fe9e5a;
 background-color: #fff;
}


.is-active {
    opacity: 1;
    transform: scale(1);
  }


.title_services {
  float: right;
  font-size: 3vh;
  font-family: 'Helvetica', san-serif;
  color: #24242a;
  padding: 34% 0%;
  text-align: justify;

}

.text_services {
  float: right;
  font-size: 2vh;
  font-family: 'Helvetica', san-serif;
  color: #24242a;
  padding: 7% 0%;
  text-align: justify;
}

.social_col {
      padding: 2%;
}




/****** QUIENES SOMOS ****/
.title_us {
  font-size: 3vh;
  font-family: 'Helvetica', san-serif;
  color: #24242a;
  padding: 34% 0%;
  text-align: center;
}

.text_us {
  font-size: 2vh;
  font-family: 'Helvetica', san-serif;
  color: #24242a;
  padding: 7% 0%;
  text-align: justify;
}


#barraQuienes.dot-nav {
  transform: rotate(90deg); 
  margin-top: -50%;
  margin-left: 235%;
}

#liQuienes.dot-nav--item {
  /*position: relative;
  display: block;
  width: 16px; height: 16px;
  margin-bottom: 28px;
  border: 3px solid #fff;
  border-radius: 50%;*/

    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 66px;
    /*border: 6px solid #fe9e5a;
    border: 10px solid #fff;*/
    border-radius: 50%;
    border: 1px solid;
    padding: 9px;
    box-shadow: 1px 1px 1px 1px #888888;

}

/* Fin Init */

/*.dot-nav--item {
  position: relative;
  display: block;
  width: 16px; height: 16px;
  margin-bottom: 28px;
  border: 3px solid #fff;
  border-radius: 50%;
  &:before, &:after { content: ""; }
  &:before {
    position: absolute;
    top: -1px; bottom: -1px; left: -1px; right: -1px;
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s;
  }
  &:after {
    display: block;
    width: 3px; height: 30px;
    margin: 13px auto 0;
    background-color: #fff;
  }
  &:last-child:after { display:none; }
  &:hover { cursor: pointer; }
  &.is-active:before {
    opacity: 1;
    transform: scale(1);
  }
}*/

#liQuienes.dot-nav--item:before, 
#liQuienes.dot-nav--item:after { content: ""; }

.dot-nav--item:last-child:after { display:none; }

.dot-nav--item:before {
  position: absolute;
  top: -1px; bottom: -1px; left: -1px; right: -1px;
  transform: scale(0);
  opacity: 0;
  border-radius: 50%;
  background-color: #cfd0d6;
  transition: all .3s;
}

#liQuienes.dot-nav--item:after {
  /*display: block;
  width: 3px; height: 30px;
  margin: 13px auto 0;
  background-color: #fff;*/
    width: 4px;
    height: 73px;
    margin: 13px auto 0;
    background-color: #cbccd1;

}



#liQuienes.dot-nav--item:hover,
#liQuienes.dot-nav--item:active {
 cursor: pointer;
 /*border: 2px solid #fe9e5a;*/
 border: 2px solid #fe9e5a;
 background-color: #fff;
}


.is-active {
    opacity: 1;
    transform: scale(1);
  }





/*************** MENU TAB ****************/
main {
  max-width: 800px;
  padding: 40px;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16c'; }
label[for*='4']:before { content: '\f171'; }

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



.tab_team a {
  
  color: #bfc0bf;
}

.tab_team:hover,
.tab_team:focus,
.tab_team:active {
  color: #303036 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .active {
    color: #495057 !important;
    background-color: #fff;
} 

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid rgb(80,144,247);
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #32465B;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

}
/*********************************************/
.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}


input, textarea {
  width: 100%;
}



